{% load sudoku_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'sudoku_solver/sudoku-solver.css' %}">
</head>

<body>
<header>
  <h1> SUDOKU-SOLVER </h1>
</header>

<section class="main">
  <div class="sudoku-box">
    {% if not valid %}
    The input has to be numbers from 1-9.
    {% endif %}
    <form method="post" class="sudoku-form">
      {% csrf_token %}
      <table class="sudoku-grid">
        {% for row in nine %}
          <tr class="sudoku-row">
            {% for col in nine %}
              <td class="sudoku-col">
                <input type="text" class="sudoku-cell" value="{{ stored_cells|argument_helper:row|sudoku_value:col }}" name="sudoku-cell" maxlength="1" size="1">
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
      <div class="button-container">
        <button type="submit" name="button" value="reset">Reset</button>
        <button type="submit" name="button" value="submit">Submit</button>
      </div>
    </form>
    <div class="sudoku-description">
      Geben Sie ein Sudoku ein und lassen es automatisch lösen!
    </div>
  </div>
  <div class="foto-upload-box">
    <h2> Upload a sudoku image </h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="button-container">
        <input type="file" accept="image/*" name="photo" id="photo" capture="camera">
        <button type="submit" name="button" value="upload">Upload</button>
      </div>
    </form>
  </div>
</section>
<section class="end">
  Die Seite verwendet keine Cookies.
</section>
</body>

</html>