header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); /* add a box-shadow */
  border-radius: 10px; /* add rounded edges */
}
header h1 {
  font-size: 24px;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sudoku-box {
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 20px;
  width: 90%;
  max-width: 550px;
  border-radius: 10px;
  box-shadow: 0px  2px 4px rgba(0, 0, 0, 0.5);
}

.sudoku-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* adjust the width to fit with the header */
}

.sudoku-grid {
  border-radius: 4px;
  border: 5px solid #333;
  background-color: #333;
  max-width: 500px; /* add a maximum width to prevent the grid from getting too wide */
  margin: 0 auto; /* center the grid horizontally */
}

@media only screen and (max-width: 600px) {
  .sudoku-grid {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    border: 3px solid #333;
  }
  .sudoku-grid::before,
  .sudoku-grid::after {
    content: '';
    display: block;
    height: 0;
    width: 10px;
  }
  .sudoku-grid::before {
    float: left;
  }
  .sudoku-grid::after {
    float: right;
  }
}
.sudoku-cell {
  height: 50px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  background-color: #fff; /* add a background color to improve visibility */
  border: none; /* remove the border */
  padding: 0; /* remove the padding */
  margin: 0; /* remove the margin */
  color: #333;
}

.sudoku-col:nth-child(3n),
.sudoku-col:nth-child(6n) {
  border-right: 5px solid #333;
}

.sudoku-row:nth-child(3n) td,
.sudoku-row:nth-child(6n) td {
  border-bottom: 5px solid #333;
}

@media only screen and (max-width: 600px) {
  .sudoku-cell {
    height: calc((90vw - 80px) / 9);
    width: calc((90vw - 80px) / 9);
    font-size: calc((85vw - 60px) / 14);
    color: #333;
  }
.sudoku-col:nth-child(3n),
.sudoku-col:nth-child(6n) {
  border-right: 2px solid #333;
}

.sudoku-row:nth-child(3n) td,
.sudoku-row:nth-child(6n) td {
  border-bottom: 2px solid #333;
}
}

.sudoku-submit {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
}

.sudoku-description {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button-container button {
  margin-right: 10px;
  font-size: 1.2em;
}

.foto-upload-box {
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 20px;
  width: 90%;
  max-width: 550px;
  border-radius: 10px;
  box-shadow: 0px  2px 4px rgba(0, 0, 0, 0.5);
}

.foto-upload-box h2 {
  margin-top: 0;
  font-size: 24px;
  text-align: center;
}

.foto-upload-box form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.end {
  margin-top: 20px;
}